@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Creepster&display=swap');
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    vertical-align: center;
    font-family: 'Arvo', serif;
    background-image: url("img/background.gif");
    background-size: cover;
    background-repeat: no-repeat;
}

.wrap{
    background-color: #F2E8C6;
    border: black solid 2px;
    border-radius: 8px;
    margin-top: 100px;
}
.title h1{
    margin: 0 10px;
    font-size: 50px;
}
.title{
    color: #F78F1F;
    text-align: center;
    background-color: #8253D7;
    font-family: 'Creepster', cursive;

}
.titleDrip{
    width: 310px;
    height: 100px;

}
.quality-wrap img{
    height: 50px;
}
.radio{
    display: none;
}
label{
    display: flex; flex-direction: column;
}
label:hover{
    color: red;
}
.submit{
    margin-top: 10px;
    color: #F78F1F;
    background-color: #8253D7;
    font-family: 'Creepster', cursive;
    width: 200px;
    font-size: 50px;
    border-radius: 8px;
}

.radio:checked + .label-radio{
    content: url("img/clicked.svg");
    height: 50px;
}
